.logHeader{
    height: 100px;
}
.LHlogo{
    float: left;
    width: 62px;
    margin-top: 22px;
}
.LHlogo a{
    position: relative;
    display: block;
    padding: 2.5px;
    width: 55px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    line-height: 25px;
    font-size: 19px;
    color: #fff;
    background: #ff6700;
}
.LHnav{
    position: relative;
    float: left;
    width: 650px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 200px;
    font-size: 16px;
}
.LHnav a{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 88px;
    text-align: center;
    line-height: 88px;
    color: #333;
}
.LHnav a:hover{
    color: #ff6700;
}
.LHsearch{
    position: relative;
    float: right;
    margin-top: 25px;
    width: 290px;
    height: 50px;
    border: 1px solid #e0e0e0;
    /*overflow: hidden;*/
}
.LHStext{
    position: absolute;
    /*outline: none;*/
    right: 49px;
    padding-left: 10px;
    width: 230px;
    height: 47px;
    /*z-index: 1;*/
    border: none;
}
.LHSbtn{
    position: absolute;
    /*outline: none;*/
    right: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    border-left: 1px solid #e0e0e0;
    border-bottom: none;
    border-top: none;
    border-right:none ;
    background: #fff;
}
.LHSbtn:hover{
    background: #ff6700;
}
.LHSinner{
    transition: .3s;
    position: absolute;
    top:19px;
    right: 64px;
    /*z-index: 2;*/
    text-align: right;
    font-size: 12px;
}
.LHSinner a{
    /*transition: .3s;*/
    margin-right: 5px;
    padding: 1px 5px;
    background: #eee;
}
.LHSinner a:hover{
    background:#ff6700;
    color: #fff;
}
.LHSdown{
    display: none;
    position: absolute;
    top:50px;
    left: 0;
    z-index: 10;
    /*opacity: 0;*/
    width: 239px;
    border: 1px solid #e0e0e0;
    transition: .3s;
    background: #fff;
}

.LHSslide a{
    z-index: 10;
    position: relative;
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color:#424242;
}
.LHSslide a span{
    position:absolute;
    right: 15px;
    top:6px;
    color: #b0b0b0;
}
.LHSslide:hover{
    background: #EEEEEE;
}
.LHDcontainer{
    position: absolute;
    z-index: 23;
    top:140px;
    /*border-top: 1px solid #e0e0e0;*/
    width: 100%;
    height: 0;
    /*box-shadow: 0 3px 4px rgba(0,0,0,0.18);*/
    transition:.3s;
    font-size: 12px;
    overflow: hidden;
    background: #fff;
}
.LHDslide{
    position: relative;
    float: left;
    width: 200px;
    height: 229px;
    text-align: center;
}
.LHDprice{
    display: block;
    margin: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #ff6700;
}
.LHDTitle{
    margin: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #333;
}
.LHDimgBox{
    margin-top:30px;
    display: block;
    width: 100%;
    border-right: 1px solid #e0e0e0;
    height: 130px;
}
.LHDimgBox img{
    margin: auto;
    width: 160px;
    height: 110px;
}
.flag{
    position: absolute;
    z-index: 100;
    top:-1px;
    left:50%;
    margin-left: -25px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #ff6700;
    background: #fff;
    width: 50px;
    height: 18px;
    color: #ff6700;
}
.LHDnob{
    border-right:none ;
}